body {
  background-image:none;
  color:#000000;
}
main p {
  font-size: 16px;
}
code {
  font-size:16px;
}
h1 {
  font-family:cursive;
}
main {
  margin: auto;
}
main section {
  max-width: 75%;
  text-align:center;
  margin: auto;
}
a {
  text-decoration: none;
  text-align: left;
  color:#000000;
}
h2 { 
  font-size:1em; 
  font-family:monospace;
}
h4 {
  font-size:.5em;
}
#fixed {
  position: fixed;
  bottom:25%;
  right:15px;
  border:2px solid black;
  font-size:16px;
  background-color:#31E87F;
  color:#363DFF;
}
nav {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 25%;
  height: 1000px;
  margin: auto;
  float: left;
  background-color: #2244d9;
  opacity:1;
  border-radius: 0px;
}
nav li {
  display:block;
  float:none;
  text-align:left;
}
