html {
  font-family:"raleway", Sans-serif;
  color:#ffffff;
}
.jumbotron {
  background-image:url("../imgs/halfdome.jpg");
  background-size:cover;
  padding: 100px 0px 100px 0px;
}
.project {
  width: 50%;
}
.cheatsheet {
  background-image:url('../imgs/notebook.jpg');
  background-size:cover;
  color:#000000;
  margin-left: 50px;
}
.cheatsheet main {
  font-size: 20px;
}
details {
  text-align: left;
}