---
layout: default
title: Bookmarks
permalink: /links/
---

<main class="content fade-in-down delay-0_75s">
    <div class="inner">
        <article class="post">
            {% assign feature_image = page.featured_image | to_s | strip %}
            {% assign feature_image_alt = page.featured_image_alt | default: page.title %}
            {% if feature_image != '' and feature_image != 'none' and feature_image != 'null' %}
            <div class="post-thumbnail">
                {% include featured_image.html image=feature_image alt=feature_image_alt base='/images/' %}
            </div><!-- .post-thumbnail -->
            {% endif %}
            <div class="entry-box">
                <header class="entry-header">
                    <h1 class="entry-title">{{page.title}}</h1>
                    <h3 class="entry-meta">These are just some links to things I find interesting</h3>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    <div class="archive-tags-list">
                        <a href="#">Hobbies</a>
                        <a href="#">Blogs</a>
                        <a href="#">Videos</a>
                        <a href="#">Tech</a>
                    </div><!-- .archive-tags-list -->
                    <h2 id="">Hobbies</h2>
                    <ul class="archive-posts-list">
                        <li><a href="{{ site.baseurl }}{{ post.url }}" rel="bookmark">{{ post.title }}</a> <span class="archive-meta"> — <time class="published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %-d, %Y" }}</time></span></li>
                    </ul>
                    <p><a href="#page" class="archive-top-link">Return to top <i class="fa fa-angle-up" aria-hidden="true"></i></a></p>
                </div><!-- .entry-content -->
            </div><!-- .entry-box -->
        </article><!-- .post -->
    </div><!-- .inner -->
</main><!-- .content -->
