html {
  font-family:"raleway", Sans-serif;
  color:#ffffff;
}
h1 {
  font-size: 3em;
}
body {
  background-image:url("../imgs/halfdome.jpg");
  background-size:cover;
}
nav {
  background-color:rgba(0,0,0,1);
  padding-top:5px;
  padding-bottom:5px;
  border-radius:10px;
  width:50%;
  margin: auto;
  opacity:.5;
}
nav li {
  display: inline-block;
  float:center;
  padding: 5px;
  text-align:center;
}
nav a {
  text-decoration:none;
  color:#fff;
  font-size:2em;
  position:relative;
  text-align:center;
  border-bottom: 3px groove #000;
  font-weight:normal;
}
.nav a:hover {
  border-bottom: 3px groove white;
}
main {
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: 3em;
  text-align: center;
}
main p {
  font-size: .5em;
}
footer {
  margin: 0 auto 0 auto;
  max-width: 85%;
  position:relative:;
}
footer section {
  display: inline-block;
  max-width: 25%;
  text-align: center;
  margin:0px 3% 0px 3%;
}
table {
  font-size:25px;
}
td {
  width = 25%;
}
img {
  width: 100%;
  display:inline-block;
}
a {
  text-decoration: none;
  font-weight:bold;
  text-align: left;
  color:#ffffff;
  display:inline-block;
  border-bottom: 3px solid rgba(0,0,0,0);
}
a:hover
  {
    
    border-bottom: 3px solid #ffffff;
  }

h4 {
  font-size:.5em;
}
.project {
  width: 50%;
}