---
layout: default
---
<main class="content fade-in-down delay-0_75s">
    <div class="inner">
        <article class="post">
            {% assign feature_image = page.featured_image | to_s | strip %}
            {% assign feature_image_alt = page.featured_image_alt | default: page.title %}
            {% if feature_image != '' and feature_image != 'none' and feature_image != 'null' %}
            <div class="post-thumbnail">
                {% include featured_image.html image=feature_image alt=feature_image_alt base='/images/' %}
            </div>
            {% endif %}
            <div class="entry-box">
                <header class="entry-header">
                    <h1 class="entry-title">{{ page.title }}</h1>
                </header><!-- .entry-header -->
                <div class="entry-content">
                    {{content}}
                </div><!-- .entry-content -->
            </div><!-- .entry-box -->
        </article><!-- .post -->
    </div><!-- .inner -->
</main><!-- .content -->
